# Ambiente virtual
.venv/
venv/

# Cache do Python
__pycache__/
*.pyc
*.pyo
*.py[cod]
.pytest_cache/


# Dados gerados pelo app
SENTINEL2_BANDAS/*.tif
SENTINEL2_BANDAS/*.tiff
SENTINEL2_BANDAS/*.parquet
SENTINEL2_BANDAS/*.gpkg
SENTINEL2_BANDAS/*.csv
SENTINEL2_BANDAS/*.shp
SENTINEL2_BANDAS/*.shx
SENTINEL2_BANDAS/*.dbf
SENTINEL2_BANDAS/*.prj
SENTINEL2_BANDAS/propagado_*.geojson
SENTINEL2_BANDAS/pred*.geojson
SENTINEL2_BANDAS/classificado.geojson
SENTINEL2_BANDAS/features_by_segment.parquet
SENTINEL2_BANDAS/features.parquet

# Logs
*.log

# Backups acidentais
*.backup.*.py

# Arquivos locais
.env

# Backups manuais
services/*.backup.*
oldREADME.md

# Docker
.dockerignore

